html * {
    box-sizing: border-box;
}

.page {
    background-color: rgb(245, 245, 245) !important;
}

.page-header {
    width: 100%;
    height: 46px;
    background: #ff7f1f;
}

.page-body {
    width: 100%;
    height: calc(100% - 46px);
}

.page-header-inner {
    width: 100%;
    height: 100%;
    clear: both;
}

.page-header-inner .left, .page-header-inner .center, .page-header-inner .right {
    width: 33.3%;
    height: 100%;
    float: left;
    vertical-align: middle;
    line-height: 2.5;
    font-size: 1.125rem;
    color: white;
}

.page-header-inner .left {
    text-align: left;
    padding-left: 1.25rem;
}

.page-header-inner .center {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.page-header-inner .right {
    text-align: right;
    padding-right: 1.25rem;
}

a {
    color: #333;
}

.nav_open_panel {
    position: relative;
    float: left;
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
}

.cusv1-accordion-item .list-block {
    margin-top: 0;
    margin-bottom: 0;
}

.accordion-item-expanded > .item-link {
    background-color: rgba(255, 127, 31, 0.2);
}

.concerns_swipeout_btn {
    font-size: 0.8rem;
    color: white;
    background-color: lightgray;
}

.area_accordion_item {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.equip_according_list_item {
    width: 100%;
    height: 55px;
    left: 0px;
    border-bottom: 1px solid #dbdbdb;
    font-size: 0;
    background: white;
    padding: 0.2rem;
}

.expanded_equip_item_source {
    display: inline-block;
    width: 90%;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 14px;
}

.area_list_source {
    display: inline-block;
    width: 72%;
    font-size: 1.1rem;
    padding: 0 15px 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon_to_equip_details {
    width: 15px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-top: 18px;
}

.monitor_areas_item_click_area {
    position: absolute;
    width: 100%;
    background-color: transparent;
    padding: 1.5rem;
    top: 0;
    left: 0;
}

.equip_list_location {
    font-size: 0.875rem;
    padding: 0 5px;
    height: 100%;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999999;
}

.loc_icon {
    width: 13px;
    height: 13px;
    background: url(../images/monitor/monitor_location_icon.png) no-repeat;
    background-size: 100%;
    font-size: 0;
    vertical-align: middle;
}

.area_list_item_unit1 {
    width: 100%;
}

.area_list_item_unit2 {
    width: 100%;
    height: 25px;
    font-size: 0;
    vertical-align: middle;
    line-height: 1.8;
}

.expanded_equips_item_state {
    display: inline-block;
    width: 15px;
    text-align: center;
    color: white;
    position: relative;
    margin-top: 18px;
}

.expanded_equips_click_area {
    height: 55px;
    margin-left: 45px;
}

.concerns_click_area {
    display: inline-block;
    height: 100%;
    width: 30px;
    padding-left: 15px;
    padding-right: 30px;
    text-align: center;
    color: white;
    position: relative;
    vertical-align: top;
    float: left;
}

.icon_to_expand_area {
    width: 15px;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    vertical-align: top;
}

.area_equip_num {
    width: 20%;
    text-align: right;
    display: inline-block;
    margin-top: 4px;
    font-size: 0.875rem;
    color: #999999;
    border-radius: 4px;
    padding: 0 5px;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cancle_concerns{
    font-size: 1.2rem;
    color: white;
    background-color: lightgray;
}